{% extends 'layouts/main.html' %} {% block title %}Inicio{% endblock %} {% block
content %}

<div>
  <!-- <div class="page-header"> -->
  <h1>Aplicación de gestión de citas y usuarios</h1>
</div>

<img
  src='{{ url_for("static", filename="img/hospital.jpg")}}'
  alt=""
  width="900px"
/>

<p class="lead">
  Bienvenido a la Oficina virtual de información. En este portal puede acceder
  al sistema de citas del hospital. Ingrese sus credenciales para acceder. Si
  aún no se ha dado de alta, pulse Registro.
</p>

{% endblock %}
