{% extends 'layouts/main.html' %} {% block title %}Inicio{% endblock %} {% block
content %} {% if 'usr' in session %}
<div>
  <!-- <div class="page-header"> -->
  <h1>¡Bienvenido {{session.nom}}!</h1>
</div>

<img
  src='{{ url_for("static", filename="img/hospital.jpg")}}'
  alt=""
  width="auto"
  align="right"
/>

<p class="lead">
  Acceda a la information de su cuenta o consulte los registros existentes en la
  barra superior
</p>
{% else %}
<div>
  <!-- <div class="page-header"> -->
  <h1>Hospital General De Barranquilla</h1>
</div>

<img
  src='{{ url_for("static", filename="img/hospital.jpg")}}'
  alt=""
  width="auto"
  align="right"
/>

<p class="lead">
  Bienvenido a la Oficina virtual de información. En este portal puede acceder
  al sistema de citas del hospital. Ingrese sus credenciales para acceder. Si
  aún no se ha dado de alta, pulse Registro.
</p>
{% endif %} {% endblock %}
