<div style="width: 36rem; margin: auto; text-align: right;">
    <img id="close" onclick="close_()" src="/static/img/close-icon.png" alt="" style="width: 23px; cursor: pointer;">
    </div>
    <div style="width: 36rem; margin: auto;">
        <div class="card"style="padding:1rem;position: relative; display: flex; flex-direction: row;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;">
        <div style="padding: 1rem; background-clip: border-box; border: 1px solid rgba(0,0,0,.125); border-radius: .25rem; ">
            <p><strong>Detalle de cita {{data.id}}</strong></p>
            <p>Fecha de cita: {{data.fecha}}</p>
            <p>Paciente: {{data.paciente}}</p>
            <p>ID: {{data.idp}}</p>
            <p>Doctor: {{data.doctor}}</p>
            <p>ID: {{data.idd}}</p>
            <p>Especialidad: {{data.descrip}}</p>
            <br>
            <p>Comentarios:</p>
            <div style="background-clip: border-box;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem; padding: 0.5rem;">
                {% if data.rol == '2'and data.ontime == 1 %}
                    <textarea id="comentario">{{data.comentario}}</textarea>
                {% else %}
                    <textarea id="comentario" disabled>{{data.comentario}}</textarea>
                {% endif %}
            </div>
            <p>Valoración:</p>
            <div style="background-clip: border-box;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem; padding: 0.5rem;">
                {% if data.rol == '1' and data.ontime == 1 %}
                    {% if data.valoracion == "" %}
                    <select id="valoracion">
                        <option value="Malo">Malo</option>
                        <option value="Regular">Regular</option>
                        <option value="Bueno">Bueno</option>
                        <option value="Excelente">Excelente</option>
                    </select>
                    {% else%}
                    <textarea id ="valoracion">{{data.valoracion}}</textarea>
                    {% endif%}
                {% else %}
                    <textarea id ="valoracion" disabled>{{data.valoracion}}</textarea>
                {% endif %}
            </div>
            {% if data.rol != '3' and data.ontime == 1 %}
                <div id="update" style="width: 60%; margin: auto;height: 20px; background: blue; margin-top: 1.5rem; color: white;text-align: center; cursor: pointer;" onclick="updateCita({{data.id}})">Actualizar</div>
            {% else %}
                <div id="update" style="width: 60%; margin: auto;height: 20px; background: rgb(135, 135, 250); margin-top: 1.5rem; color: white;text-align: center;">Actualizar</div>
            {% endif %}
        </div>
        <div style="padding: 1rem;"> 
            <div style="background-clip: border-box;
                    border: 1px solid rgba(0,0,0,.125);
                    border-radius: .25rem; padding: 1rem;">
                    <img src="/static/img/user-logo.png" width="96px">
                    <p style="text-align: center;">{{data.paciente}}</p>
            </div>
            <div style="background-clip: border-box;
                    border: 1px solid rgba(0,0,0,.125);
                    border-radius: .25rem; padding: 1rem; margin-top: 2rem;">
                    <img src="/static/img/doctor-logo.png" width="96px">
                    <p style="text-align: center;">{{data.doctor}}</p>
            </div>
        </div>
    </div>
</div>