<br />
<br />
<div class="col-sm-4"></div>
<div class="col-sm-4">
  <div style="text-align: right">
    <img
      id="close"
      src="/static/img/close-icon.png"
      alt=""
      style="width: 23px; cursor: pointer"
    />
  </div>
  <form
    action="/borrarCita"
    method="post"
    style="background-color: white; padding: 2rem; border-radius: 0.5rem"
  >
    <div class="row" style="padding: 1rem">
      <div class="form-group">
        <div class="col-sm-12">
          <label class="control-label">
            <h3>¿Desea borrar el registro con id: {{data}}?</h3>
          </label>
        </div>
        <input
          type="text"
          name="data"
          id="data"
          class="form-control"
          value="{{data}}"
          style="
            visibility: collapse;
            padding: 0;
            height: 0px;
            border: 0;
            position: fixed;
          "
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block">
            Si, borrar registro.
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-sm-4"></div>
