{% extends 'layouts/main.html' %}
{% block title %}Gestión de médicos{% endblock %} 
{% block content %}

<br />
<br />
<h3>Gestión de Médicos</h3>
<form action = "/consultamedico" method ="post">
<div class="row" style="padding: 1rem">
    <div class="form-group">
      <div class="col-sm-2" style="text-align: right">
        {{ form.tipoid(class_ = 'form-control')}}
      </div>
      <div class="col-sm-4">
        {{ form.id(class_ = 'form-control first-input last-input',
        placeholder=form.id.label.text, required = true,value = session['txtNroDoc'])}}
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block">
          Buscar
        </button>
      </div>
    </div>
  </div>
  </form>

  <form
  action="/vistamedico/"
  method="post"
  style="
    padding: 1rem;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #fcfcfc;
  "
>
  <div class="row" style="padding: 1rem">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.name.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.name(class_ = 'form-control', required = true, value = session['nombres'])}}
      </div>
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.last.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.last(class_ = 'form-control', required = true, value = session['apellidos'])}}
      </div>
    </div>
  </div>
  <div class="row" style="padding: 1rem">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.especialidad.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.especialidad(class_ = 'form-control',value = session['especialidad'],  style='width:48%;')}}
      </div>
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.phone.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.phone(class_ = 'form-control', required = true,value = session['telefono'])}}
      </div>
    </div>
  </div>
  <div class="row" style="padding: 1rem">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.time.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.time(class_ = 'form-control', style='width:48%;')}}
      </div>
    </div>
  </div>
  <div class="row" style="padding: 1rem">
    <div class="form-group">
      <label class="col-sm-3 control-label">Datos de autenticación</label>
    </div>
  </div>
  <div class="row" style="padding: 1rem">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.user.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.user(class_ = 'form-control', required = true, value = session['usuario'])}}
      </div>
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.password.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.password(class_ = 'form-control', required = true)}}
      </div>
    </div>
  </div>
  <div class="row" style="padding: 1rem">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="text-align: right"
        >{{form.email.label.text}}</label
      >
      <div class="col-sm-4">
        {{ form.email(class_ = 'form-control', required = true, value = session['usuario'])}}
      </div>
    </div>
  </div>
  <div class="row" style="padding: 1rem">
    <div class="form-group">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block" {% if session['found'] %} disabled = True {%endif%}>Crear Registro</button>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block" {% if not session['found'] %} disabled = True {%endif%}>Actualizar</button>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block" {% if not session['found'] %} disabled = True {%endif%}>
          Eliminar
        </button>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block" {% if not session['found'] %} disabled = True {%endif%}>
          Notificar
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
