{% extends 'DashboardAdmin.html' %}
{% block cuerpo %}
        <form action='/vistaPaciente/' method='POST' name='admusr' id='admusr'>
            
            <div class='fila'>
                    </br>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c2'>{{ form.selTipId.label }}</div>
                    <div class='c1'>{{ form.selTipId(size=1) }}</div>
                    <div class='cesp'>&nbsp;</div>
					<div class='c2'>{{ form.txtNroDoc.label }}</div>
                    <div class='c1'>{{ form.txtNroDoc(size=15, minlength=1, maxlength=15)}}</div>
                    <div class='cesp'>&nbsp;</div>
            </div>
            <div class='fila'>
                    </br> 
                    <div class='cesp'>&nbsp;</div> 
                    <div class='c1'>{{ form.TxtNombres.label }}</div>
                    <div class='c2'>{{ form.TxtNombres(size=30) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.TxtApellidos.label }}</div>
                    <div class='c2'>{{ form.TxtApellidos(size=30) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.TxtNroCel.label }}</div>
                    <div class='c2'>{{ form.TxtNroCel(size=10) }}</div>
            </div>
            <div class='fila'>
                    </br>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c2'>{{ form.DateFecha.label }}</div>
                    <div class='c2'>{{ form.DateFecha(size=30) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.selSexo.label }}</div>
                    <div class='c1'>{{ form.selSexo(size=1) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.selGrupoRh.label }}</div>
                    <div class='c1'>{{ form.selGrupoRh(size=1) }}</div>
                    <div class='c1'>&nbsp;</div>
            </div>

            <div class='fila'>
                </br>
                <div class='cesp'>&nbsp;</div>
                <div class='c1'>{{ form.txtUsuario.label }}</div>
                <div class='c1'>{{ form.txtUsuario(size=5) }}</div>
                <div class='cesp'>&nbsp;</div>
                <div class='c1'>{{ form.PwdClave.label }}</div>
                <div class='c1'>{{ form.PwdClave(size=5) }}</div>
                <div class='cesp'>&nbsp;</div>
                <div class='c1'>{{ form.mailUsuario.label }}</div>
                <div class='c1'>{{ form.mailUsuario(size=15) }}</div>
                <div class='c1'>&nbsp;</div>
            </div>


            <div class='fila'>
                    </br>
                    <div class='cesp'>&nbsp;</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.btnReg() }}</div>
                    <div class='cesp'>&nbsp;</div>
					<div class='c1'>{{ form.btnEditar() }}</div>
                    <div class='cesp'>&nbsp;</div>
					<div class='c1'>{{ form.btnEliminar() }}</div>
                    <div class='cesp'>&nbsp;</div>
					<div class='c1'>{{ form.btnNotificar() }}</div>
                    <div class='cesp30'>&nbsp;</div>
					<div class='c1'>{{ form.btnSalir()}}</div>	
            </div>
                </br>
         </form>
{% endblock %}