{% extends 'forms/DashboardAdmin.html' %}

    <div class="wkarea">{% block cuerpo%}

        <form action='/vistaCitas/' method='POST' name='admusr' id='admusr'>
            
            <div class='fila'>
                    </br>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.txtNroCita.label }}</div>
                    <div class='c1'>{{ form.txtNroCita(size=15, minlength=1, maxlength=15)}}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c2'>{{ form.tipoid.label }}</div>
                    <div class='c1'>{{ form.tipoid(size=1) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c2'>{{ form.txtNroDoc.label }}</div>
                    <div class='c1'>{{ form.txtNroDoc(size=15, minlength=1, maxlength=15)}}</div>
        
                </div>
            <div class='fila'>
                    </br>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.selEspecialidad.label }}</div>
                    <div class='c1'>{{ form.selEspecialidad(size=1) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.selMedico.label }}</div>
                    <div class='c1'>{{ form.selMedico(size=1) }}</div>
                    <div class='cesp'>&nbsp;</div>
            </div>
            <div class='fila'>
                    </br>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c2'>{{ form.DateFecha.label }}</div>
                    <div class='c2'>{{ form.DateFecha(size=30) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.selhora.label }}</div>
                    <div class='c1'>{{ form.selhora(size=1) }}</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.Comentarios.label }}</div>
                    <div class='c2'>{{ form.Comentarios(size=2) }}</div>
            </div>
            <div class='fila'>
                </br>
                <div class='cesp'>&nbsp;</div>
                <div class='c1'>{{ form.TxtNombres.label }}</div>
                <div class='c2'>{{ form.TxtNombres(size=30) }}</div>
                <div class='cesp'>&nbsp;</div>
                <div class='c1'>{{ form.TxtApellidos.label }}</div>
                <div class='c2'>{{ form.TxtApellidos(size=30) }}</div>
                <div class='cesp'>&nbsp;</div>
                <div class='c1'>{{ form.mailUsuario.label }}</div>
                <div class='c1'>{{ form.mailUsuario(size=15) }}</div>
                <div class='c1'>&nbsp;</div>
            </div>
            <div class='fila'>
                    </br>
                    <div class='cesp'>&nbsp;</div>
                    <div class='cesp'>&nbsp;</div>
                    <div class='c1'>{{ form.btnReg() }}</div>
                    <div class='cesp'>&nbsp;</div>
					<div class='c1'>{{ form.btnEditar() }}</div>
                    <div class='cesp'>&nbsp;</div>
					<div class='c1'>{{ form.btnEliminar() }}</div>
                    <div class='cesp'>&nbsp;</div>
					<div class='c1'>{{ form.btnNotificar() }}</div>
                    <div class='cesp30'>&nbsp;</div>
					<div class='c1'>{{ form.btnSalir()}}</div>	
            </div>
                </br>
         </form>

         <!-- <form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">City</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">State</label>
      <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Zip</label>
      <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>


<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form> -->
{% endblock %}</div>