{% extends 'layouts/main.html' %} {% block title %}Recuperar contraseña{%
endblock %} {% block content %}
<form method="post" class="form form-reset">
  <h1 class="form-heading">Recuperar contraseña</h1>
  <h4>
    <p>
      Ingrese el correo electrónico con el que se dio de alta para poder
      enviarle un enlace de recuperación
    </p>
  </h4>
  <h4 class="form-group">
    {{ form.email(class_ = 'form-control first-input last-input', placeholder =
    form.email.label.text) }}
  </h4>
  <p class="pull-left">
    <a href="{{ url_for('login') }}">Ir de vuelta a inicio de sesión</a>
  </p>

  <p class="pull-right">
    Si no se ha dado de alta, puede registrarse
    <a href="{{ url_for('registropac') }}">como paciente</a>
    o
    <a href="{{ url_for('registromed') }}">como médico</a>
  </p>
  <input
    type="submit"
    value="Enviar"
    class="btn btn-lg btn-primary btn-block"
    disabled
  />
</form>
{% endblock %}
