{% extends 'layouts/main.html' %} {% block title %}Ingreso{% endblock %} {%
block content %}
<div style="padding: 1rem;">
<div class="col-sm-4"></div>
<div class="col-sm-4">
  <form method="post" class="form">
    <div style="margin: auto; width: 20%;">
    <img
      class="mb-4"
      src="../../static/img/logoSalud.png"
      alt=""
      width="72"
      height="72"
    />
    </div>
    <h1 class="form-heading">Inicio de sesión</h1>
    <h6>Introduzca sus credenciales</h6>
    <h4 class="form-group">
      {{ form.usr(class_ = 'form-control first-input', placeholder =
      form.usr.label.text, required = true, autofocus = true) }}
    </h4>
    <h4 class="form-group">
      {{ form.pwd(class_ = 'form-control last-input', placeholder =
      form.pwd.label.text, required = true) }}
    </h4>

    <p class="pull-left">
      <a href="{{ url_for('forgot') }}">Olvidé mi contraseña</a>
    </p>
    <p class="pull-right">
      Si no se ha dado de alta, puede registrarse
      <a href="{{ url_for('registropac') }}">como paciente</a>
      o
      <a href="{{ url_for('registromed') }}">como médico</a>
    </p>
    <input
      type="submit"
      value="Ingresar"
      class="btn btn-primary btn-lg btn-block"
      onClick="{ form.btn() }"
    />
  </form>
</div>
<div class="col-sm-4"></div>
</div>
{% endblock %}
