{% extends 'layouts/main.html' %}
{% block title %}Listado de citas{% endblock %} 
{% block content %}

    <div class="container">
        <div class="row align-items-center">
          <div class="col-12 hero-text-image">
            <div class="row">
    <form method="post" class="form">
      <h1 class="form-heading" style="text-align: center;" data-aos="fade-right">
        Información del perfil
        
      </h1>
      
      {% for dat in data %}
        <div class='c2'>
          <h4 class="form-group">
        Correo electrónico actual: {{ dat[0] }}
          <br>
          <br>
        {{ form.mailUsuario(class_ = 'form-control last-input', placeholder =
        "Nuevo correo electrónico", required = true) }}
          </h4>
        <input
          type="submit"
          value="Actualizar correo electrónico"
          class="btn btn-primary btn-lg btn-block"
          onClick="{ form.btn() }"
        />
        </div>
        <br><br>
        <div class='c2'>
          <h4 class="form-group">
        Usuario actual: {{ dat[1] }}
          <br>
          <br>
        {{ form.usr(class_ = 'form-control first-input', placeholder =
        "Nuevo usuario", required = true, autofocus = true) }}
          </h4>
        <input
        type="submit"
        value="Actualizar usuario"
        class="btn btn-primary btn-lg btn-block"
        onClick="{ form.btn() }"
      />
          </div>
        <br><br>
        <div class='c2'>
          <h4 class="form-group">
        Cambio de contraseña
          <br>
          <br>
        {{ form.pwd(class_ = 'form-control last-input', placeholder =
        "Nueva contraseña", required = true) }}
          </h4>
        <input
        type="submit"
        value="Actualizar contraseña"
        class="btn btn-primary btn-lg btn-block"
        onClick="{ form.btn() }"
      />
        </div>
      {% endfor %}
    </form>

    </div>
</div>
</div>
</div>
    {% endblock %}
</body>
</html>