{% extends 'layouts/form.html' %} {% block title %}Registro{% endblock %} {%
block content %}
<form method="post" class="form">
  <h3 class="form-heading">
    Registro de pacientes
    <a href="{{ url_for('home') }}" title="Back to homepage"
      ><i class="fa fa-home pull-right"></i
    ></a>
  </h3>
  <p class="lead">
    Para tener un control exhaustivo de la interacción médico-paciente y su
    relación con el hospital, es necesario obtener algunos datos. Rellene el
    siguiente formulario y pulse "Registro". Pulsando el botón de registro usted
    acepta nuestra política de privacidad y sus datos quedan consignados en la
    base de datos general del Hospital.
  </p>
  <h4 class="form-group">
    {{ form.name(class_ = 'form-control first-input', placeholder =
    form.name.label.text, required = true, autofocus = true) }}
  </h4>
  <h4 class="form-group">
    {{ form.lastname(class_ = 'form-control first-input', placeholder =
    form.lastname.label.text, required = true, autofocus = true) }}
  </h4>
  <h4 class="form-group">
    {{ form.id(class_ = 'form-control first-input', placeholder =
    form.id.label.text, required = true, autofocus = true) }}
  </h4>

  <h6 class="form-group">
    <p>Fecha de nacimiento</p>
    {{ form.birthdate(class_ = 'form-control', placeholder =
    form.birthdate.label.text, required = true) }}
  </h6>
  <h4 class="form-group">
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text,
    required = true) }}
  </h4>
  <h4 class="form-group">
    {{ form.username(class_ = 'form-control', placeholder =
    form.username.label.text, required = true) }}
  </h4>
  <h4 class="form-group">
    {{ form.password(class_ = 'form-control', placeholder =
    form.password.label.text, required = true) }}
  </h4>
  <h4 class="form-group">
    {{ form.confirm(class_ = 'form-control last-input', placeholder =
    form.confirm.label.text, required = true) }}
  </h4>

  <p class="pull-left">
    Si ya se encuentra registrado pulse
    <a href="{{ url_for('login') }}">Ingresar</a>
  </p>
  <input
    type="submit"
    value="Register"
    class="btn btn-primary btn-lg btn-block"
    disabled
  />
  <p>
    You must add database as well as Flask-Login to enable user management. See
    the <a href="http://www.realpython.com">Real Python</a> course for more
    info!
  </p>
</form>

{% endblock %}
