
  {% extends 'layouts/main.html' %} {% block title %}Registro{% endblock %} {%
    block content %}
    <form method="post" class="form">
      <!-- <h3 class="form-heading">
        Registro de médicos
        <a href="{{ url_for('home') }}" title="Back to homepage"
          ><i class="fa fa-home pull-right"></i
        ></a>
      </h3> -->
      <p class="lead">
        Para tener un control exhaustivo de la interacción médico-paciente y su
        relación con el hospital, es necesario obtener algunos datos. Rellene el
        siguiente formulario y pulse "Registro". Pulsando el botón de registro usted
        acepta nuestra política de privacidad y sus datos quedan consignados en la
        base de datos general del Hospital.
      </p>
      <h4 class="form-group">
        {{ form.name(class_ = 'form-control first-input', placeholder =
        form.name.label.text, required = true, autofocus = true) }}
      </h4>
      <h4 class="form-group">
        {{ form.lastname(class_ = 'form-control first-input', placeholder =
        form.lastname.label.text, required = true, autofocus = true) }}
      </h4>
      <h6 class="form-group">
        <p>Tipo de identificación</p>
        {{ form.tipoid(class_ = 'form-control first-input', placeholder =
        form.tipoid.label.text, required = true, autofocus = true) }}
      </h6>
    
      <h4 class="form-group">
        {{ form.id(class_ = 'form-control first-input', placeholder =
        form.id.label.text, required = true, autofocus = true) }}
      </h4>
      <h6 class="form-group">
        <p>Especialidad</p>
        {{ form.specialty(class_ = 'form-control first-input', placeholder =
        form.specialty.label.text, required = true, autofocus = true) }}
      </h6>
      <h6 class="form-group">
        <p>Fecha de nacimiento</p>
        {{ form.birthdate(class_ = 'form-control', placeholder =
        form.birthdate.label.text, required = true) }}
      </h6>
      <h6 class="form-group">
        <p>Sexo</p>
        {{ form.sex(class_ = 'form-control', placeholder = form.sex.label.text,
        required = true) }}
      </h6>
      <h6 class="form-group">
        <p>Grupo Sanguíneo</p>
        {{ form.rh(class_ = 'form-control', placeholder = form.rh.label.text,
        required = true) }}
      </h6>
      <h6 class="form-group">
        <p>Modalidad</p>
        {{ form.modalidad(class_ = 'form-control', placeholder =
        form.modalidad.label.text, required = true) }}
      </h6>
      <h4 class="form-group">
        {{ form.email(class_ = 'form-control', placeholder = form.email.label.text,
        required = true) }}
      </h4>
      <h4 class="form-group">
        {{ form.professionalId(class_ = 'form-control', placeholder =
        form.professionalId.label.text, required = true) }}
      </h4>
      <h4 class="form-group">
        {{ form.phonenumber(class_ = 'form-control', placeholder =
        form.phonenumber.label.text, required = true) }}
      </h4>
      <h4 class="form-group">
        {{ form.username(class_ = 'form-control', placeholder =
        form.username.label.text, required = true) }}
      </h4>
      <h4 class="form-group">
        {{ form.password(class_ = 'form-control', placeholder =
        form.password.label.text, required = true) }}
      </h4>
      <h4 class="form-group">
        {{ form.confirm(class_ = 'form-control last-input', placeholder =
        form.confirm.label.text, required = true) }}
      </h4>
      </p>

      <p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Acepto los términos y condiciones
        </label>
      </div>
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
             terminos y condiciones 
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body" style="text-align: justify; font-size: 18px;">
            <center>
            <h3> <strong> Terminos y condiciones </strong></h3>
          </center>
            <p>
              La Política de Privacidad del Paciente del Hospital General De Barranquilla      
              busca direccionar todas las acciones del hospital con el fin de lograr la    
              prestación del servicio bajo condiciones que permitan el control y mitigación   
              de los riesgos propios de la atención en salud y logren un sistema de salud en  
              forma segura y altamente confiable. Estas acciones serán direccionadas por el 
              Comité de Calidad del Hospital.
            </p>
            <p>
              En la junta directiva del Hospital General De Barranquilla somos respetuosos  
              de los datos personales de los titulares, y buscamos informar de manera  
              suficiente a las personas sobre los derechos que tienen en su calidad de  
              titulares de la información, como es el de conocer, actualizar y rectificar o  
              suprimir sus datos personales frente a la entidad en su condición de  
              responsable del tratamiento y en los términos de ley. Así mismo el hospital  
              velará por el uso adecuado del tratamiento al cual serán sometidos los datos  
              personales y finalidad de los mismos de todos sus usuarios, niños, niñas y/o  
              adolescentes, enmarcados siempre dentro del cumplimiento de la misión  
              institucional como prestador de servicios de salud, y demás funciones  
              administrativas, constitucionales y legales de la Entidad.  
            </p>
            <p>
              Tratamiento: Los datos personales proporcionados al Hospital por los 
              diferentes canales de atención dispuestos por la entidad, de pacientes, 
              estudiantes, trabajadores, contratistas, y demás usuarios, serán objeto de 
              tratamiento de recolección, almacenamiento, uso, actualización, rectificación, 
              circulación o supresión, según lo amerite cada caso, bajo el cumplimiento de 
              la constitución y la ley. Finalidad: Los datos personales, dispuestos en las 
              bases de datos, serán usados para la finalidad específica para la que fueron 
              suministrados, enmarcados dentro del cumplimiento de la misión institucional 
              como prestador de servicios de salud, y en el cumplimiento de las demás 
              funciones administrativas, constitucionales y legales de la Entidad. Comité de 
              Antitrámites y de Gobierno en Línea Todas las personas que intervengan en el 
              tratamiento de datos personales en el Hospital que no tengan la naturaleza de 
              datos públicos están obligadas a garantizar la reserva de la información, 
              inclusive después de finalizada su relación con alguna de las labores que 
              comprende el tratamiento, pudiendo sólo realizar suministro o comunicación de 
              datos personales cuando ello corresponda al desarrollo de las actividades 
              autorizadas en la Entidad, las normas de protección de datos personales y en 
              los términos de la misma. El Hospital General De Barranquilla a través del 
              comité de antitrámites y de Gobierno en línea velará por el uso adecuado del 
              tratamiento y finalidad de los datos personales de todos sus usuarios, así 
              como también de los niños, niñas o adolescentes. 
            </p> <br> <br>
          </div>
        </div>
      </p>

      <p class="pull-left">
        Si ya se encuentra registrado pulse
        <a href="{{ url_for('login') }}">Ingresar</a>
      </p>
      <input
        type="submit"
        value="Registrar"
        class="btn btn-primary btn-lg btn-block"
      />
    </form>
    
    {% endblock %}
    
</body>
</html>
