<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital general de barranquila</title>
      <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
{% extends 'layouts/form.html' %} {% block title %}Ingreso{% endblock %} {%
    block content %}

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Hospital General De Barranquilla</a>
          </div>
          <div class="collapse navbar-collapse">
            {% if 'usr_id' in session %}
            <ul class="nav navbar-nav">
              <li {% if request.endpoint == 'home' %}  {% endif %}><a href="{{ url_for('dashboard') }}">Dashboard administrativo</a></li>
              <!-- <li {% if request.endpoint == 'about' %} class="active" {% endif %}><a href="{{ url_for('about') }}">About</a></li> -->
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Servicios <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a>Búsqueda de registros</a></li>
                  <li><a>Otras acciones futuras</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Mi cuenta</li>
                  <li><a>Perfil de usuario</a></li>
                  
                  <li><a>Otros servicios futuros</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a href="{{ url_for('logout') }}">Salir</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="{{ url_for('registromed') }}">Registro médico</a></li>
              <li><a href="{{ url_for('registropac') }}">Registro paciente</a></li>
              <li><a href="{{ url_for('vistaBusquedas') }}">Centro de Busqueda</a></li>
              <li><a href="{{ url_for('perfil') }}"> Cambio de datos</a></li>
              <li><a href="{{ url_for('login') }}">Ingresar</a></li>
            </ul>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><div class="container">
        <div class="row align-items-center">
          <div class="col-12 hero-text-image">
            <div class="row">
    <form method="post" class="form">
      <h1 class="form-heading" style="text-align: center;" data-aos="fade-right">
        Busquedas

        <a href="{{ url_for('home') }}" title="Back to homepage"
          
          ><i class="fa fa-home pull-right"></i
        ></a> <br> <br>
      </h1>
      <h3>Introduzca los parametros a buscar</h3>
      <input type="text">  <br><br><br><br><br>

    
      <input
        type="submit"
        value="Buscar"
        class="btn btn-primary btn-lg btn-block"
        onClick="{ form.btn() }"
      />
      <p>
        You must add database as well as Flask-Login to enable user management. See
        the <a href="http://www.realpython.com">Real Python</a> course for more
        info!
      </p>
    </form>

    </div>
</div>
</div>
</div>
    {% endblock %}
</body>
</html>