{% extends 'layouts/main.html' %} {% block title %}Política de Privacidad{%
endblock %} {% block content %}

<div class="page-header">
  <h1>Política de privacidad</h1>
</div>
<p class="lead">
  This is just a placeholder page which should be replaced with real content.
</p>
<p>
  La Política de Privacidad del Paciente del Hospital General De Barranquilla
  busca direccionar todas las acciones del hospital con el fin de lograr la
  prestación del servicio bajo condiciones que permitan el control y mitigación
  de los riesgos propios de la atención en salud y logren un sistema de salud en
  forma segura y altamente confiable. Estas acciones serán direccionadas por el
  Comité de Calidad del Hospital.
</p>
<p>
  En la junta directiva del Hospital General De Barranquilla somos respetuosos
  de los datos personales de los titulares, y buscamos informar de manera
  suficiente a las personas sobre los derechos que tienen en su calidad de
  titulares de la información, como es el de conocer, actualizar y rectificar o
  suprimir sus datos personales frente a la entidad en su condición de
  responsable del tratamiento y en los términos de ley. Así mismo el hospital
  velará por el uso adecuado del tratamiento al cual serán sometidos los datos
  personales y finalidad de los mismos de todos sus usuarios, niños, niñas y/o
  adolescentes, enmarcados siempre dentro del cumplimiento de la misión
  institucional como prestador de servicios de salud, y demás funciones
  administrativas, constitucionales y legales de la Entidad.
</p>
<p>
  Tratamiento: Los datos personales proporcionados al Hospital por los
  diferentes canales de atención dispuestos por la entidad, de pacientes,
  estudiantes, trabajadores, contratistas, y demás usuarios, serán objeto de
  tratamiento de recolección, almacenamiento, uso, actualización, rectificación,
  circulación o supresión, según lo amerite cada caso, bajo el cumplimiento de
  la constitución y la ley. Finalidad: Los datos personales, dispuestos en las
  bases de datos, serán usados para la finalidad específica para la que fueron
  suministrados, enmarcados dentro del cumplimiento de la misión institucional
  como prestador de servicios de salud, y en el cumplimiento de las demás
  funciones administrativas, constitucionales y legales de la Entidad. Comité de
  Antitrámites y de Gobierno en Línea Todas las personas que intervengan en el
  tratamiento de datos personales en el Hospital que no tengan la naturaleza de
  datos públicos están obligadas a garantizar la reserva de la información,
  inclusive después de finalizada su relación con alguna de las labores que
  comprende el tratamiento, pudiendo sólo realizar suministro o comunicación de
  datos personales cuando ello corresponda al desarrollo de las actividades
  autorizadas en la Entidad, las normas de protección de datos personales y en
  los términos de la misma. El Hospital General De Barranquilla a través del
  comité de antitrámites y de Gobierno en línea velará por el uso adecuado del
  tratamiento y finalidad de los datos personales de todos sus usuarios, así
  como también de los niños, niñas o adolescentes.
</p>

{% endblock %}
